<!DOCTYPE html>
<html>
<head>
    <title>Tareas de dia</title>
</head>
<body>
    <script>
        function index1(){
            window.location.href="/"
        }
    </script>
    <h1> Ingresar fecha:</h1>

    <form action="/tasks" method="GET">
        Fecha (DDMMYYYY): <input type="text" name="fecha" required><br><br>
        <button type="submit">Guardar</button>
    </form>

    <h1> Tareas</h1>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>{{ task }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay tareas para esta fecha.</p>
    {% endif %}
    <a onclick="index1()">⬅ Volver</a>
</body>
</html>
