<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Panel de Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="header">
        <div class="logo">CW</div>
        <div>
          <h1 class="title">Panel de Control</h1>
          <p class="subtitle">Controla todas tus funciones desde aquí.</p>
        </div>
      </div>

      <div class="actions">
        <button class="btn" onclick="whatsApp()">💬 WhatsApp</button>
        <button class="btn" onclick="enviarAccion('microfono')">🎙️ Micrófono</button>
        <button class="btn" onclick="spotify()">🎵 Spotify</button>
        <button class="btn" onclick="sonido()">🔊 Sonido</button>
        <button class="btn" onclick="calendario()">📅 calendario</button>
      </div>

      <p id="estado" class="small"></p>
    </div>
  </div>

  <script>
    function enviarAccion(accion) {
      fetch('http://localhost:5000/accion', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ accion: accion })
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById("estado").innerText = "Acción enviada: " + data.accion_recibida;
      })
      .catch(error => {
        document.getElementById("estado").innerText = "Error al enviar acción.";
      });
    }
    function spotify(){ window.location.href='/spotify'; }
    function whatsApp(){ window.location.href='/mensajeria'; }
    function sonido(){ window.location.href='/sonido'; }
    function calendario(){ window.location.href='/calendario'}
  </script>
</body>
</html>
